@import "mocha.css";

* {
	font-family: Hack Nerd Font Propo;
	font-size: 16px;
	min-height: 0;
}

#waybar {
	background: transparent;
	color: @text;
	margin: 0px;
	padding: 0px;
}

#workspaces {
	border-radius: 1rem;
	background-color: @surface0;
}

#workspaces button {
	all: unset;
	color: @lavender;
	padding: 0.5rem 1rem;
}

#workspaces button.active {
	color: @sky;
}

#workspaces button:hover,
#workspaces button:active,
#workspaces button:focus {
	background: none;
	box-shadow: none;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#cpu,
#memory,
#temperature,
#custom-temp,
#bluetooth,
#network,
#custom-vpn,
#custom-lock,
#custom-power,
#custom-mouse-accel,
#custom-screenshot {
	background-color: @surface0;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	margin-left: 0.25rem;
}

#clock {
	color: @blue;
}

#backlight, #battery {
	border-radius: 0;
	padding: 0.5rem 0;
}

#backlight {
	color: @yellow;
	padding-left: 1rem;
	border-radius: 1rem 0 0 1rem;
}

#battery {
	color: @white;
	margin-left: 0;
	border-radius: 0 1rem 1rem 0;
	padding-left: 0.75rem;
	padding-right: 1rem;
}

#battery.discharging {
	color: @white;
}

#battery.charging, #battery.plugged, #battery.full {
	color: @green;
}

#battery.warning:not(.charging) {
	color: @red;
}

#pulseaudio {
	color: @maroon;
}

#custom-music {
	color: @mauve;
}

#custom-lock {
	border-radius: 1rem 0px 0px 1rem;
	margin-right: 0;
	padding-right: 0;
	color: @lavender;
}

#custom-power {
	/* border-radius: 0px 1rem 1rem 0px; */
	/* margin-left: 0; */
	/* padding-left: 1rem; */
	color: @red;
}

#cpu {
	color: @green;
}

#memory {
	color: @teal;
}

#temperature, #custom-temp {
	color: @peach;
}

#temperature.critical, #custom-temp.critical {
	color: @red;
	font-weight: bold;
}

#bluetooth {
	color: @white;
}

#bluetooth.discovering {
	color: @green;
}

#bluetooth.disabled, #bluetooth.off, #bluetooth.no-controller {
	color: @red;
}

#network {
	color: @white;
}

#network.disabled, #network.disconnected {
	color: @red;
}

#network.linked {
	color: @yellow;
}

#custom-vpn {
	color: @white;
}

#custom-mouse-accel {
	color: @red;
}

#custom-mouse-accel.on {
	color: @green;
}

#custom-mouse-accel.off {
	color: @blue;
}

#custom-screenshot {
	color: @white;
}

.modules-left, .modules-right {
	margin: 0px 0.5rem;
}

/* start group */
#bluetooth, #cpu, #custom-screenshot {
	border-radius: 1rem 0 0 1rem;
	margin-right: 0;
	padding: 0.5rem 0.25rem;
	padding-left: 1rem;
}

/* middle group */
#custom-vpn, #memory, #custom-temp, #custom-mouse-accel {
	border-radius: 0;
	margin-left: 0;
	padding: 0.5rem 0.25rem;
}

#memory {
	padding-left: 0.75rem;
	padding-right: 0.5rem;
}

#custom-temp {
	padding-left: 0.5rem;
	padding-right: 0.75rem;
}

/* end group */
#network, #pulseaudio, #custom-power {
	border-radius: 0 1rem 1rem 0;
	margin-left: 0;
	padding: 0.5rem 0.25rem;
	padding-right: 1rem;
}

tooltip, .tooltip, menu {
	background: black;
	color: white;
	border: 1px solid @surface0;
}
